<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSOJ2oB2zDXNSr2Z5_5kf-j5gd05mt-Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>1091410814765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sewingInformation</string>
	<key>PROJECT_ID</key>
	<string>flutter-mmd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mmd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091410814765:ios:62c69623719cc62f4595a4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-mmd-default-rtdb.firebaseio.com</string>
</dict>
</plist>